<div class="w-full min-h-[100vh] bg-indigo-500 flex flex-col items-center pt-36">
  <h1 class="font-bold text-6xl text-emerald-300">Ruber</h1>
  <p class="text-lg mt-2 text-lime-200">A ride sharing app built with Ruby on Rails and Hotwire</p>
</div>